#about {
    height: 1251px;
    background: #E0C7E6;
    display: grid;
}

.title_about {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #F6FAFB;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    opacity: 30%;
    margin-top: 100px;
}

#p1 {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    color: #F6FAFB;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 140px;
    text-align: right;
}

#p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #F6FAFB;
    justify-content: right;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: 290px;
    text-align: right;
}


@media screen and (min-width: 768px) {
    #about {
        height: 816px;
        background: #E0C7E6;
        display: grid;
    }
    
    .title_about {
        font-family: 'Roboto', sans-serif;
        font-size: 120px;
        color: #F6FAFB;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 8;
        opacity: 30%;
        margin-top: 120px;
    }
    
    #p1 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        color: #F6FAFB;
        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 11;
        margin-top: 180px;
        
    }
    
    #p2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: #F6FAFB;
        justify-content: right;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 12;
        margin-top: 310px;
    }
}

@media screen and (min-width: 1200px) {
    
    #about {
        height: 780px;
        background: #E0C7E6;
        display: grid;
    }

    .title_about {
        font-family: 'Roboto', sans-serif;
        font-size: 200px;
        color: #F6FAFB;
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        opacity: 30%;
    }

    #p1 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        color: #F6FAFB;
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 11;
        margin-top: 160px;
        
    }

    #p2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        color: #F6FAFB;
        justify-content: right;
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 11;
        margin-top: 290px;
    }
}

@media screen and (min-width: 1920px) {

    #about {
        height: 1279px;
        background: #E0C7E6;
        display: grid;
    }

    .title_about {
        font-family: 'Roboto', sans-serif;
        font-size: 200px;
        color: #F6FAFB;
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        opacity: 30%;
    }

    #p1 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        color: #F6FAFB;
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 11;
        margin-top: 160px;
        
    }

    #p2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        color: #F6FAFB;
        justify-content: right;
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 11;
        margin-top: 290px;
    }

}


