#about {
    height: 1792px;
    background: #E0C7E6;
    display: grid;
}

.container {
    
    height: 1792px;
    width: 946px;
    display: flex;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.title_about {
    font-family: 'Roboto', sans-serif;
    font-size: 201px;
    opacity: 30%;
    color: #F6FAFB;
    margin-top: 90px;
}

.second-title {
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    color: #F6FAFB;
    align-content: right;
    margin-top: 40px;
}

.p-about{
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    color: #F6FAFB;
    align-content: right;
    margin-top: 40px;
}


@media screen and (min-width: 768px) {
    #about {
        height: 1279px;
        background: #E0C7E6;
        display: grid;
    }

    .container {
        
        height: 1279px;
        width: 946px;
        display: flex;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    }

    .title_about {
        font-family: 'Roboto', sans-serif;
        font-size: 120px;
        opacity: 30%;
        color: #F6FAFB
    }

    .second-title {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        color: #F6FAFB;
        
    }

    .p-about{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: #F6FAFB;
        
    }
}

@media screen and (min-width: 1200px) {
    
    #about {
        height: 1279px;
        background: #E0C7E6;
        display: grid;
    }

    .container {
        height: 1279px;
        width: 552px;
        grid-column: 7/-1;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    }

    .title_about {
        font-family: 'Roboto', sans-serif;
        font-size: 200px;
        opacity: 30%;
        color: #F6FAFB;
        grid-column: 2/5;
    }

    .second-title {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        color: #F6FAFB;
        justify-content: right;
    }
    
    .p-about{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color: #F6FAFB;
        justify-content: right;
    }
}

@media screen and (min-width: 1920px) {

    #about {
        height: 1279px;
        background: #E0C7E6;
        display: grid;
        
    }

    .container {
        
        height: 1279px;
        width: 946px;
        display: flex;
        background: rgba( 255, 255, 255, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    }

    .title_about {
        font-family: 'Roboto', sans-serif;
        font-size: 110px;
        opacity: 30%;
        color: #F6FAFB;
    }

    .second-title {
        font-family: 'Roboto', sans-serif;
        font-size: 44px;
        color: #F6FAFB;
        
    }

    .p-about{
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        color: #F6FAFB;
        
    }

}