
    #hero {
        height: 719px;
        display: grid;
        background-color: #ECDBEF;
    }

    #img-hero {
        grid-column: 1/-1;
        height: 516px;
    }

    #socialM {
        height: 45px;
        width: 49px;
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        // margin-bottom: 50px;
    }

    #p-hero {
        justify-content: right;
        vertical-align: center;
        font-family: 'Roboto', sans-serif;
        color: #F6FAFB;
        grid-column: 1/-1;
    }

@media (min-width: 768px) {

    #hero{
        height: 703px;
    }

    #img-hero {
        grid-column: 1/-1;
    }
    
    #socialM {
        height: 54px;
        width: 59px;
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        margin-bottom: 50px;
    }

    #p-hero {
        text-align: right;
        vertical-align: center;
        font-family: 'Roboto', sans-serif;
        color: #F6FAFB;
        margin-right: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #hero{
        background-color: #ECDBEF;
        height: 703px;
    }

    #img-hero {
        grid-column: 1/-1;
    }

    #socialM {
        height: 59px;
        width: 73px;
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    
    #p-hero {
        text-align: right;
        vertical-align: center;
        font-family: 'Roboto', sans-serif;
        color: #F6FAFB;
        margin-right: 50px;
    }

}

@media screen and (min-width: 1920px) {
    #hero{
        height: 988px;
    }
    
    #img-hero {
        grid-column: 1/-1;
    }
    
    #socialM {
        height: 122px;
        width: 113px;
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    
    #p-hero {
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        color: #F6FAFB;
        margin-right: 50px;
        // display: inline-flex;
        justify-content: flex-end;
        grid-column: 8/12;
    }
}