
#hero {
    height: 719px;
    display: grid;
}

#hero-img {
    position: relative;
}

#socialM1 {
    height: 45px;
    width: 49px;
    position: absolute;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #hero{
        height: 703px;
    }


    #hero-img {
        position: relative;
    }
    
    #socialM1 {
        height: 54px;
        width: 59px;
        position: absolute;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1200px) {
    #hero{
        height: 703px;
    }
    
    #hero-img {
        position: relative;
    }
    
    #socialM1 {
        height: 67px;
        width: 73px;
        position: absolute;
        margin-left: 90px;
    }

    #socialM2 {
        height: 67px;
        width: 73px;
        position: absolute;
        margin-left: 220px;
    }

    #socialM3 {
        height: 67px;
        width: 73px;
        position: absolute;
        margin-left: 350px;
    }
    
    h2 {
        text-align: right;
        vertical-align: center;
        font-family: 'Roboto', sans-serif;
        color: #F6FAFB;
    }
}

@media screen and (min-width: 1920px) {
    #hero{
        height: 988px;
    }
    
    #hero-img {
        position: relative;
    }
    
    #socialM1 {
        height: 122px;
        width: 113px;
        position: absolute;
        margin-left: 90px;
    }

    #socialM2 {
        height: 122px;
        width: 113px;
        position: absolute;
        margin-left: 320px;
    }

    #socialM3 {
        height: 122px;
        width: 113px;
        position: absolute;
        margin-left: 550px;
    }
    
    h2 {
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        color: #F6FAFB;
        margin-right: 50px;
    }
}