
#hero {
    height: 719px;
    display: grid;
}

#hero-img {
    position: relative;
}

#socialM1 {
    height: 45px;
    width: 49px;
    position: absolute;
    margin-bottom: 20px;
}


@media (min-width: 768px) {

    #hero{
        height: 703px;
    }


    #hero-img {
        position: relative;
    }
    
    #socialM1 {
        height: 54px;
        width: 59px;
        position: absolute;
        margin-bottom: 20px;
        justify-content: flex-start; 
        margin-left: 50px;
    }

    h2 {
        text-align: right;
        vertical-align: center;
        font-family: 'Roboto', sans-serif;
        color: #F6FAFB;
        margin-right: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #hero{
        height: 703px;
    }
    
    #hero-img {
        position: relative;
    }
    
    .column {
        width: 1200px;
        display: flex;
    } 

    #socialM1 {
        height: 59px;
        width: 73px;
        justify-content: flex-start; 
        margin-left: 50px;
    }
    
    h2 {
        text-align: right;
        vertical-align: center;
        font-family: 'Roboto', sans-serif;
        color: #F6FAFB;
        margin-right: 50px;
    }

}

@media screen and (min-width: 1920px) {
    #hero{
        height: 988px;
    }
    
    #hero-img {
        position: relative;
    }
    
    #socialM1 {
        height: 122px;
        width: 113px;
        position: absolute;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start; 
    }
    
    h2 {
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        color: #F6FAFB;
        margin-right: 50px;

    }
}